<%= javascript_include_tag 'calendar', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'calendar_helpers', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'calendar' %>

<script type="text/javascript">
  Calendar.init();
</script>

<div class="container">
  <%= render :partial => 'workflow_bar' %>
</div>

<%= form_tag "/", :id => "date_form" do %>
  First Shift:</br>
  Year: <%= text_field_tag 'year', nil, :id => "year", :placeholder => "2016" %>
  Month: <%= text_field_tag 'month', nil, :id => "month", :placeholder => "01" %>
  Day: <%= text_field_tag 'day', nil, :id => "day", :placeholder => "01" %>
  </br>

  Last Pay Day from Last Year:</br>
  Year: <%= text_field_tag 'year', nil, :id => "pay_year", :placeholder => "2016" %>
  Month: <%= text_field_tag 'month', nil, :id => "pay_month", :placeholder => "01" %>
  Day: <%= text_field_tag 'day', nil, :id => "pay_day", :placeholder => "01" %>
  <%= submit_tag("Generate Shifts") %>
<% end %>

<%= form_tag sync_path, :method => :post, :id => "sync_form" do %>
  <%= submit_tag("Sync Form") %>
<% end %>

<%= button_tag "SYNC", :id => "sync" %>

<div id="calendar"></div>
<i class="fa fa-camera-retro"></i>
